:root{
    --bg:#0f172a;
    --card:#1e293b;
    --border:#334155;
    --accent:#3b82f6;
    --text:#e2e8f0;
}

.filemanager.overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.7);
    display:flex;
    align-items:center;
    justify-content:center;
    opacity:0;
    visibility:hidden;
    transition:.3s;
}

.filemanager.overlay .media-container{
    width:clamp(400px , 70% ,1200px);
    height:85svh;
    background:#fff;
    border-radius:18px;
    overflow-x:hidden;
    overflow-y:auto;
    display:flex;
}
